#number {
    width: 50%;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white; 
    color: #333;
    font-family:Arial, Helvetica, sans-serif;
}

#convertButton {
    margin: 15px;
    background-color: #2ecc71; 
    color: white;
    border: none;
    padding: 7px 20px;
    border-radius: 4px;
    cursor: pointer;
}

#errorMessage {
    width: 50%;
    padding-left: 5px;
    margin-left: 24.5%;
    border: 2px solid #ccc; 
    border-radius: 5px;
    background-color: white;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

#result {
    width: 80%;
    padding-left: 5px;
    margin-left: 10%;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;

}

.result-header {
    font-weight: bold;
}

.custom-label {
    font-weight: bold;
    font-size: 20px;
}